body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 60px 200px 1fr 200px;
    grid-gap: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    color: #000;
}

.column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fa-icon {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
    cursor: pointer;
}

.column2 {
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header-text {
    font-size: 16px;
    font-weight: bold;
}

.message-count {
    font-size: 14px;
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.search-bar {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.card {
    display: flex;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.card:hover {
    background-color: #f0f0f0;
} */

.card-selected {
    background-color: #e0e0e0;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 10px;
    background-color: #3498db; /* Placeholder color */
} 

.content {
    display: flex;
    flex-direction: column;
}

.sender-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.recent-message {
    font-size: 10px;
    margin-bottom: 5px;
    color: gray;
}

.suggestions {
    display: flex;
    justify-content: space-between;
}

.suggestion {
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    

}

.suggestion-green {
    background-color: #a7f1c6;
    color: #fff;
    color: green;
    margin-right: 5px;
    padding: 5px;
}

.suggestion-red {
    background-color: rgb(244, 221, 178);
    color: brown;
}

.column3 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.message {
    display: flex;
    margin-bottom: 15px;
    max-width: 70%;
    clear: both;
}

.sent {
    margin-left: auto;
    flex-direction: row-reverse;
}

.profile-picture-message {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3498db; /* Placeholder color */
    margin-right: 10px;
}

.content-message {
    background-color: #3498db; /* Message bubble color */
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}

.received .content-message {
    background-color: #ecf0f1; /* Message bubble color for received messages */
    color: #000;
}

.timestamp {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
}

.column4 {
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.directory-entry {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.header2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.fa-phone{
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.header-text2{
    font-size: 16px;
    font-weight: bold;
}

.fas-icon{
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
    cursor: pointer;
}