.grid-container{
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 60px 200px 1fr 200px;
    grid-gap: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    color: #000;
    min-height: 100vh;
}

.column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fa-icon {
    font-size: 24px;
    color: #131111;
    margin-bottom: 10px;
    cursor: pointer;
}

.column2 {
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notification {
    margin-bottom: 10px;
    padding: 15px; /* Increased padding for better visibility */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-text {
    flex: 1;
    margin-right: 10px;
}

.notification-icons {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 18px;
    color: #3498db;
    margin-left: 10px;
    cursor: pointer;
}

.column3 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column4 {
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.directory-entry {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-bar {
    align-items: left;

}


.profile-container {
    display: flex;
    align-items: left;
    max-width: 400px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 12px;
}

.profile-image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-description {
    color: #777;
    margin-bottom: 10px;
    font-size: 12px;
}

.profile-emoji {
    font-size: 20px;
}

.profile-info {
    flex: 1;
    font-size: 2px;
}

.profile-name {
    font-size: 12px;
    font-weight: bold;
}



.orange-button {
    background-color: #ff8c00;
    color: rgb(99, 69, 13);
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 3px;
    cursor: pointer;
}

.help-button {
    background-color: lightgreen;
    color: #0f4416;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.activity {
    margin-left: auto;
    color: #333;
    font-size: 10px;
}

.profile-container2 {
    display: flex;
    align-items: center;
    max-width: 400px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 12px;
}


.profile-description2 {
    color: #777;
    margin-bottom: 10px;
    font-size: 12px;
}

.profile-emoji2 {
    font-size: 20px;
}

.profile-image2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info2 {
    flex: 1;
    font-size: 2px;
}

.profile-name2{
    font-size: 12px;
    font-weight: bold;
}

.profile-description2 {
    color: #777;
    margin-bottom: 10px;
    font-size: 10px;
}


.action-buttons2 {
    display: flex;
    align-items: center;
}

.round-button {
    background-color: white;
    color: black;
    padding: 5px;
    border:#757070 light gray;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}


.activity2 {
    margin-left: auto;
    color: #333;
    font-size: 10px;
}

.profile-container3 {
    display: flex;
    align-items: center;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 12px;
}

.profile-image3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info3 {
    flex: 1;
}

.profile-name3 {
    font-size: 12px;
    font-weight: bold;
}

.profile-description3 {
    color: #777;
    margin-bottom: 10px;
    font: 12;
}

.profile-emoji3 {
    font-size: 20px;
}

.action-buttons3 {
    display: flex;
    align-items: center;
}

.bug-button {
    background-color: rgb(237, 212, 164);
    color: rgb(223, 156, 32);
    padding: 5px;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.fest-button{
    background-color: rgb(186, 237, 186);
    color: green;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.activity3 {
    margin-left: auto;
    color: #333;
    
} 

.profile-container4 {
    display: flex;
    align-items: center;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-image4 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info4 {
    flex: 1;
}

.profile-name4 {
    font-size: 12px;
    font-weight: bold;
}

.profile-description4 {
    color: #777;
    margin-bottom: 10px;
    font-size: 10px;
}

.profile-emoji4 {
    font-size: 20px;
}

.action-buttons4 {
    display: flex;
    align-items: center;

}


.profile-emoji4 {
    font-size: 20px;
}

.action-buttons4 {
    display: flex;
    align-items: center;
}

.activity4 {
    margin-left: auto;
    color: #333;
    font-size: 10px;
    
}

.question-button {
    background-color: rgb(237, 212, 164);
    color: rgb(223, 156, 32);
    padding: 5px;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.some-button{
    background-color: rgb(186, 237, 186);
    color: green;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.profile-container5 {
    display: flex;
    align-items: center;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-image5 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info5 {
    flex: 1;
}

.profile-name5 {
    font-size: 12px;
    font-weight: bold;
}

.profile-description5 {
    color: #777;
    margin-bottom: 10px;
    font: 12px;
}


.action-buttons5 {
    display: flex;
    align-items: center;
}

.request-button {
    background-color: rgb(237, 212, 164);
    color: rgb(223, 156, 32);
    padding: 5px;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.activity5 {
    margin-left: auto;
    color: #333;

    
} .profile-container6 {
    display: flex;
    align-items: center;
    max-width: 400px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 2px;
}


.profile-image6 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info6 {
    flex: 1;
}

.profile-name6 {
    font-size: 12px;
    font-weight: bold;
}

.profile-description6 {
    color: #777;
    margin-bottom: 10px;
    font-size: 12px;
}

.profile-emoji6 {
    font-size: 10px;
}

.action-buttons6 {
    display: flex;
    align-items: center;

}


.profile-emoji6 {
    font-size: 20px;
}

.action-buttons6 {
    display: flex;
    align-items: center;
}
